data/
*.bin
*.exe
*.pdf
*.mp4
*.png

*.sqlite
*.json
*.suo
*.pyc

*.h5
*.npy
timeseries/currentModel/

*.out
*.log
*.gz
*.aux
*.bbl
*.blg

*.pygtex
*.pygstyle
!report/imgs/*.pdf
!report/imgs/*.png
!report/data/